/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */

/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
body {
  background-color: #eee;
  margin-top: 60px;
}

/* line 14, ../sass/screen.scss */
.login-form .nav-pills {
  margin-bottom: 10px;
}

/* line 19, ../sass/screen.scss */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

/* line 24, ../sass/screen.scss */
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

/* line 28, ../sass/screen.scss */
.form-signin .checkbox {
  font-weight: normal;
}

/* line 31, ../sass/screen.scss */
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

/* line 40, ../sass/screen.scss */
.form-signin .form-control:focus {
  z-index: 2;
}

/* line 43, ../sass/screen.scss */
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 48, ../sass/screen.scss */
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* line 54, ../sass/screen.scss */
#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

/* line 59, ../sass/screen.scss */
#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

/* line 71, ../sass/screen.scss */
#page-content-wrapper {
  width: 100%;
}

/* line 75, ../sass/screen.scss */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 84, ../sass/screen.scss */
.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

/* line 89, ../sass/screen.scss */
.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

/* line 95, ../sass/screen.scss */
.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

/* line 101, ../sass/screen.scss */
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

/* line 106, ../sass/screen.scss */
.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

/* line 112, ../sass/screen.scss */
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

/* line 116, ../sass/screen.scss */
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

/* line 121, ../sass/screen.scss */
.content-header {
  height: 65px;
  line-height: 65px;
}

/* line 126, ../sass/screen.scss */
.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

/* line 133, ../sass/screen.scss */
#menu-toggle {
  display: none;
}

/* line 137, ../sass/screen.scss */
.inset {
  padding: 20px;
}

@media (max-width: 767px) {
  /* line 143, ../sass/screen.scss */
  #wrapper {
    padding-left: 0;
  }

  /* line 147, ../sass/screen.scss */
  #sidebar-wrapper {
    left: 0;
  }

  /* line 151, ../sass/screen.scss */
  #wrapper.active {
    position: relative;
    left: 250px;
  }

  /* line 156, ../sass/screen.scss */
  #wrapper.active #sidebar-wrapper {
    left: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
  }

  /* line 162, ../sass/screen.scss */
  #menu-toggle {
    display: inline-block;
  }

  /* line 166, ../sass/screen.scss */
  .inset {
    padding: 15px;
  }
}
/* line 172, ../sass/screen.scss */
table td, table th {
  background: #fff;
}
/* line 174, ../sass/screen.scss */
table td:last-child, table th:last-child {
  width: 20px;
  text-align: center;
}
/* line 179, ../sass/screen.scss */
table tbody {
  border-top: none !important;
}

/* line 184, ../sass/screen.scss */
.loading {
  text-align: center;
}
